[Unit]
Description=IBM Power Raid init daemon
Before=iprdump.service iprupdate.service

[Service]
Type=forking
ExecStart=/sbin/iprinit --daemon

[Install]
WantedBy=multi-user.target
